{% extends 'BDCPollBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-lg-12">
            <ol class="breadcrumb">
                <li class="active"><i class="fa fa-envelope"></i> Envio de correo</li>
            </ol>
        </div>
    </div>
    <h1 class="page-header">Envio de correo</h1>

    <div class="row">
        <form role="form" class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2" for="inputTo">Recipientes</label>
                <div class="col-sm-10"><input class="form-control" id="inputTo" placeholder="Listado de recipientes separados por coma" type="email"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-2" for="inputSubject">Asunto</label>
                <div class="col-sm-10"><input class="form-control" id="inputSubject" placeholder="Asunto" type="text"></div>
            </div>
            <div class="form-group">
                <label class="col-sm-12" for="inputBody">Mensaje</label>
                <div class="col-sm-12"><textarea class="form-control" id="inputBody" rows="18"></textarea></div>
            </div>
        </form>
    </div>
    <div class="row">
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-primary ">Enviar <i class="fa fa-arrow-circle-right fa-lg"></i></button>
    </div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            var availableTags = [
                "sanchez91nestor@gmail.com",
                "leonard@gmail.com",
            ];
            $( "#inputTo" ).autocomplete({
                source: availableTags
            });
        } );
    </script>
{% endblock %}
